// bower:scss
// endbower
@import 'knacss/sass/knacss';

@media (min-width: ($tiny-screen + 1)) and (max-width: $small-screen)  {
  .small-w15 {
    width: 15% !important;
  }
}

@media (min-width: ($small-screen + 1)) and (max-width: $medium-screen)  {
  .medium-w15 {
    width: 15% !important;
  }
}

.nav-item {
  display: inline;
}
